.container-header-section{
    width: 100%;
    height: 822px; 
}

.header-background, .header-animation-lines, .header-animation-dots {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right; 
    width: 100%;
    height: 822px;
}

.header-background {
    background-image: url("../assets/Desktop_Backgrounds_1920x1200_6.png");
}

@keyframes lines-appearing {
    from {opacity: 0;}
    to {opacity: 1;}
}

.header-animation-lines {
    background-image: url("../assets/header-animation-lines-dots.png");
    animation: lines-appearing 2s cubic-bezier(0.5, -0.19, 1, 1) infinite alternate;
}

@keyframes dotsMoving {
    0% {transform: scale(1);}
    100% {transform: scale(1.07, 1.07); translate: -3%;}
}

.header-animation-dots {
    background-image: url("../assets/header-animation-dots.png");
    animation: dotsMoving 2.5s ease-in-out infinite alternate;
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.header-menu {
    width: 100%;
    display:flex; 
    padding-left: 10%;
    align-items: center;
}

.header-menu a {
    font-family: var(--main-font-fam);
    font-style: normal;
    text-transform: uppercase;
    color: var(--white-color);
}

.title-project {
    width: 20%;
/*    align-self: flex-start; */
 
}

.title-project a {
    font-weight: var(--bolder-font-weight);
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.menu {
    height: 22px; 
    width: 50%;
    padding-left: 5%;
    }
    
.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-style: normal;
    font-weight: var(--regular-font-weight);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;

    align-items: end;
}

a:link { 
    text-decoration: none; 
}

a:hover { 
    text-decoration:underline;
    text-underline-offset: 6px;
}

.nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
}


@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    /* Optional task */
    header {
        height: 13%;
    }

    .header-menu{
        padding-left: 8%;
        padding-right: 8%;
        justify-content: space-between;
    }

    .app-header__nav-menu-button {
        margin-right: -15px;
    }

    .app-header__nav-menu-button .app-header__nav-menu-button-icon span:nth-child(n) {
        display: block;
        background: white;
        height: 3px;
        width: 1.7em;
        position:relative;
        margin-bottom: 6px;
    }

    .header-background, .header-animation-lines, .header-animation-dots {
        background-position-x: right;
    }

    .header-animation-lines {
        background-image: url("../assets/header-animation-lines-dots.png");
        animation: lines-appearing 2.5s cubic-bezier(0.5, -0.19, 1, 1) infinite alternate;
    }
        
    .header-animation-dots {
        background-image: url("../assets/header-animation-dots.png");
        animation: dotsMoving 3s ease-in-out infinite alternate;
    }
}

