@use 'variables' as v;

.container-header-section{
    width: 100%;
    height: 822px; 
}

header{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: absolute;
    z-index: 2;  


    .header-container {
        width: 100%;
        display:flex; 
        padding-left: 10%;
        align-items: center; 
        
        a {
            font-family: v.$main-font-fam;
            font-style: normal;
            text-transform: uppercase;
            color: v.$white-color;
        }
    }

}


.header-container__title {
    width: 20%;

    a {
        font-weight: v.$bolder-font-weight;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-decoration: none; 
        
    }
}


.nav__menu {
    height: 22px; 
    width: 50%;
    padding-left: 5%; 

}


.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-style: normal;
    font-weight: v.$regular-font-weight;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;

    align-items: end;


    li {
        flex-grow: 1;
        flex-shrink: 1;  
        
        a {
            &:link {
                text-decoration: none; 
            }
            
            &:hover { 
                text-decoration:underline;
                text-underline-offset: 6px;
            }
        }
       
    }
}

