/* scss styles */
/* */

//Core Partials
@import 'normalize';
@import 'variables';




//Import modules
@import 'animation';
@import 'header';
@import 'hero';
@import 'header_mobile';
@import 'main';
@import 'main_mobile';
@import 'learn_more';
@import 'footer';
@import 'footer_mobile';


//@import 'learn';
//@import 'footer';

body {  
    margin: 0px;
    padding: 0px;
    background: #EEE;
}
