@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap');
  
/* fonts */
$main-font-fam: 'Source Sans Pro';
$oswald-font: 'Oswald';
$bolder-font-weight: 700;
$regular-font-weight: 400;


/* colors */
$white-color: #FFF;
$gray-color: #666;
$light-gray-font-color: rgba(255, 255, 255, 0.4);
$blue-button-color: #39C2D7;